/node_modules
dist
/dist
dist/
# Ignore all environment files
.env
.env.*
!.env.example   # Optional: If you want to keep a sample .env file, you can include it

# Ignore node_modules
node_modules/

# Ignore environment files with specific extensions
*.env
*.env.*          # To match .env.development, .env.production, etc.

# Optionally, ignore other config or temp files
npm-debug.log*
yarn-error.log*

/dist
dist
dist/